# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules
/webAPI/src/www/bundle.js

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/database/config.js
TOKENS.js
.DS_Store

serviceAccount.json
/webAPI/src/www/bundle.js